
<link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>

<div style="background-image: url('../../assets/imgs/liger_banner.jpg');background-size: cover;background-position: center center;height: 400px;">
    <br/>
    <img src="../../assets/imgs/icon.png" alt="Person" class="center" style="width: 200px; height: 200px;">
    <h2 style="color:#FFFFFF;text-align: center;">Local flavors</h2>
    <h2 style="color:#FFFFFF;text-align: center;">for every occasion</h2>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<br/>
<h5 style="padding-left:4px;">Our menu</h5>
<div class="row">
    <div class="col-md-2" *ngFor="let cat of categories | keyvalue " >
        <div (click)="gotToOurMenu(cat)" class="card zoom">
            
                <img class="card-img-top" style="width: 70%; height: 89px; margin: auto;object-fit: cover; " src={{cat.value[0].imgPath}} />
            
            <div class="card-body">
                <h6 style="text-align: center;">{{ucfirst(cat.key)}}</h6>
            </div>
        </div>
        
    </div>
</div>
<hr/>
<h5 style="padding-left:4px;">Restaurants near you</h5>
<a style="float: right; padding-right: 5px;" (click)="goToAll()">See all</a>
<br/>
<div class="row">  
    <div  class="col-md-3" *ngFor="let branch of branches" (click)="goToCategory(branch.id)">
        <div class="card zoom">
            
            <img style="width:60%;height:89px;margin: auto;"  class="card-img-top" src={{branch.resturant.imgPath}} />
            
            
            <h3 style="text-align: center;" class="card-title">{{branch.name}}</h3>
            <ngb-rating style="color: gold;margin: auto;" [max]="5" [(rate)]="branch.rating" [readonly]="true"></ngb-rating>   
            
        </div>
      
    </div>
</div>