
<link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
<br/>
<br/>
<div class="jumbotron" style="height: 70px;">
    <h2 style="text-align: center; color:#333333;">{{category}}</h2>
</div>

<div class="row">
    <div class="col-md-3" *ngFor="let meal of meals">
        <div  class="card">
            <img class="card-img-top" style="width: 50%; height: 50%; margin: auto;" src={{meal.imgPath}}/>
            <div class="card-body">
                <h4>{{meal.name}}</h4>
                <p style="word-wrap: break-word;">{{meal.description}}</p>
                <p>R{{meal.price}}</p>
            </div>
            
        </div>
    </div>
</div>

